@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

$primary: #001d3d;
$primaryLight: #003566;
$secondary: #ffc300;
$secondary-light: #ffd60a;
$gray: #edeef2;

$radius: 0.25rem;
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.bg-primary{
  background-color: $primary;
}
.bg-primary-light{
  background-color: $primaryLight;
}
.bg-secondary{
  background-color: $secondary;
}
.bg-secondary-light{
  background-color: $secondary-light;
}
.bg-gray{
  background-color: $gray;
}

/*----- FLEXBOX -----*/
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.flex-grow{
  flex-grow: 1;
}
.flex-grow-0{
  flex-grow: 0;
}
.flex-shrink{
  flex-shrink: 1;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.flex-start{
  align-items: center;
  justify-content: flex-start;
}
.flex-end{
  align-items: center;
  justify-content: flex-end;
}
.flex-between{
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}

/*----- HEIGHT & WIDTH -----*/
.h1\/2{
  height: 50%;
}
.h-8{
  height: 2rem;
}
.h-10{
  height: 2.5rem;
}
.h-20{
  height: 5rem;
}
.h-full{
  height: 100%;
}
.h-screen{
  height: 100vh;
}
.w-full{
  width: 100%;
}
.overflow-auto{
  overflow: auto;
}
.overflow-hidden{
  overflow: hidden;
}

/*----- PADDING -----*/
.p-1{
  padding: 0.25rem;
}
.p-2{
  padding: 0.5rem;
}
.p-4{
  padding: 1rem;
}
.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

/*----- MARGIN -----*/
.m-1{
  margin: 0.25rem;
}
.m-2{
  margin: 0.5rem;
}
.m-4{
  margin: 1rem;
}
.mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

/*----- TEXT-COLOR -----*/
.text-primary{
  color: $primary;
}
.text-white{
  color: white;
}
/*----- TEXT-SIZE -----*/
.text-sm{
  font-size: 0.85rem;
}

/*----- BUTTONS -----*/
.btn{
  border: none;
  border-radius: $radius;
  cursor: pointer;
  &.btn-primary{
    background-color: $primary;
    &:hover{
      background-color: lighten($color: $primary, $amount: 10%);
    }
  }
  &.btn-primary-light{
    background-color: $primaryLight;
    &:hover{
      background-color: darken($color: $primaryLight, $amount: 5%);
    }
  }
  &.btn-secondary{
    background-color: $secondary;
    &:hover{
      background-color: lighten($color: $secondary, $amount: 10%);
    }
  }
  &.btn-danger{
    background-color: rgba(206, 14, 14, 1);
  }
}

/*----- INPUT -----*/
input{
  border: none;
  border-radius:  $radius;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

.pokeGrid{
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  gap: 1rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.pokeCard{
  background-color: white;
  border-radius: $radius;
  cursor: pointer;
  height: auto;
  padding: 0.25rem;
  position: relative;
  &:hover{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  }
  &.selected{
    box-shadow: 0 0 3px 3px rgba(14, 165, 9, 0.5);
    &:hover{
      box-shadow: 0 0 3px 3px rgba(206, 14, 14, 0.5);
    }
  }
  &.shake{
    animation: shake 0.5s linear;
  }
  & > img{
    display: block;
    margin: 0 auto;;
  }
  & > p.title{
    @extend .text-sm;
    @extend .w-full;
    color: $primaryLight;
    padding: 0.5rem 0;
    text-align: center;
    text-transform: capitalize;
  }
}

@keyframes shake {
  0%{
    transform: translateX(-0.125rem);
  }
  25%{
    transform: translateX(0.125rem);
  }
  50%{
    transform: translateX(-0.125rem);
  }
  75%{
    transform: translateX(0.125rem);
  }
  100%{
    transform: translateX(0);
  }
}

.modal{
  background-color: rgba(0, 0 ,0, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 100;
  transition: all 500ms ease-in-out;
  &.open{
    opacity: 1;
    visibility: visible;
  }
  & .pokeInfo{
    background-color: white;
    border-radius: $radius;
    padding: 1rem;
    position: relative;
    width: 50%;
    & button.close{
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }
    & img{
      display: block;
      margin: 0 auto;
      width: 50%;
    }
  }
}